.combobox{
    position:relative;
}
.combobox input[type=text]{
    outline: none;
    height:36px;
    border:2px solid #0075f5;
}
.combobox .dropdownDiv{
    position:absolute;
    top:38px;
    left:0px;
    min-width:150px;
    font-size:12px;
    z-index: 99999;
    padding:0;
    max-height:300px;
    border:2px solid #0075f5;
}
.combobox .selectItems{
    min-width:150px;
    max-height:264px;
    overflow:auto;
}
.combobox .dropdownDiv table{
    border-collapse: collapse;
    width:100%;
    white-space: nowrap;
    background-color: white;
}
.combobox .dropdownDiv td{
    border:none;
    padding:3 7px;
}
.combobox .dropdownDiv tr{
    width: 100%;
    border:1px solid #0075f5;
    border-left:none;
    border-right:none;
    padding:2px 7px;
}
.combobox .selectItems tr:first-child{
    border-top:none;
}
.combobox .selectItems tr:last-child{
    border-bottom:none;
}
.combobox .selectItems tr.highlight{
    background-color: rgba(0, 117, 245, 0.3);  
}
.combobox .cbDataTable tr:hover{
    background-color: rgba(0, 117, 245, 0.2);  
    cursor: pointer;
}
.combobox .pulldownicon{
    position: absolute;
    right:5px;
    top:5px;
}
.combobox .headerTable tr{
    border-bottom: 1px solid #0075f5;
    background-color: #0075f5;
    color:white;
}