<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../lib/w3.css">
    <script src="../../lib/jquery.js"></script>
    <script src="../../lib/vue.js"></script>
    <script src="../../js/base.js"></script>
    <script src='../../lib/fontawesome.js'></script>

    <link rel="stylesheet" href="/r/base.css">

    <link rel="stylesheet" href="main.css">

    <script src="../cmpLib/Combobox/Combobox.js" ></script>
    <link rel="stylesheet" href="../cmpLib/Combobox/Combobox.css">

    <script src="../cmpLib/CheckGroup/CheckGroup.js" ></script>
    <link rel="stylesheet" href="../cmpLib/CheckGroup/CheckGroup.css">
    <style>
    </style>
  </head>
  <body>
    <div id="app">
      <div class="popupMsg w3-animate-opacity" v-show="appData.successMessage">
        <div class="w3-container w3-green" style="padding:16px;">
          <h3>Success</h3>
          {{appData.successMessage}}
        </div>
      </div>
      
      <div class="popupMsg w3-animate-opacity" v-show="appData.errMsg">
        <div class="w3-container w3-orange w3-text-white" style="padding:16px;">
          <h3>Error</h3>
          {{appData.errMsg}}
        </div>
      </div>

      <div class="topDiv btns">

        Id : <input style="width:200px;" type="text" v-model:value="appData.idVal">
        <button v-on:click="onSearchClick()">search</button>

        Obj : <combobox v-bind:items="appData.objItems" v-model="appData.selectObj"></combobox>

        <button v-on:click="onCreateClick()">Create</button>
      </div>
      
      <div class="w3-container titleDiv" v-if="appData.recordData != null">
        <div style="float: left;">
          <img src="../../imgs/pc.svg" style="height:60px;"/>
        </div>
        <div class="recordObj">
          <span style="color:rgb(156, 156, 156)">{{appData.objectName}}</span>
          <br />
          <span style="font-size: 1.5em;font-weight: bold;">{{appData.objectLabel}}</span>
        </div>
        <div class="recordTitle">
          <span style="color:rgb(156, 156, 156)">{{appData.recordData.Id}}</span>
          <br />
          <span style="font-size: 1.5em;font-weight: bold;">{{appData.recordData.Name}}</span>
        </div>
        <div class="titleBtns" style="padding-top: 15px;">
            <div style="float:left;margin:0 20px;">
                <check-group :items="['string','double','boolean','picklist','datetime','reference','mustInput']"
                    :multiselect="true"
                    @onchange="onShowTypeChange"></check-group>
            </div>
            <div style="float:left;">
                <check-group :items="['not null']" @onchange="onNotNullChange"></check-group>
            </div>
            <div style="float:left;margin-left:20px;">
                <input type="text" v-model="appData.filterTxt" @change="onFilterChange($event)"></input>
            </div>
        </div>
        <div class="btns w3-right">
          <button v-on:click="onObjClick()">Obj定義</button>
          <button v-on:click="onObjRefClick()">Obj参照</button>
          <button v-on:click="onRecordRefClick()">レコード参照</button>
          <button v-on:click="onCopyClick()">コピー</button>
          <button v-on:click="onSaveClick()">保存</button>
        </div>
      </div>

      <div class="fieldsDiv" style="padding:8px;" v-if="appData.recordData != null">
        <div class="w3-row" style="margin-top:10px;">

          <div class="w3-col w3-right" style="width:450px;">
            <div>
              <div class="subTitle">
                <i class='fas fa-sitemap' style="font-size:1.3em;"></i>
                <span style="font-size: 1.5em;">リレーション</span>
              </div>
              <div v-for="r in appData.reference" class="w3-row relationItem">
                <div class="w3-cell w3-left" style="width: 150px;">
                  {{r.name}}
                  <br />
                  {{r.refType?r.refType.label:""}}
                </div>
                <div class="w3-rest">
                  <a style="font-size: 1.3em; font-weight: bold;" @click="onRelationClick(event, r.value)" href="/">{{r.value}} </a>
                </div>
              </div>
            </div>
          </div>

          <div class="w3-col w3-left field-width">
            <div>標準項目</div>
            <div v-for="item in appData.selectStandardItems" v-show="item.show" class="fieldDiv field-width" >
              <div class="field">
                <div class="field-def w3-display-container w3-blue" v-bind:class="{ notnull: !item.field.nillable }">
                  <div class="file-title-row">
                    {{item.field.label}}
                  </div>
                  <div class="file-title-row">
                    {{item.field.name}}
                  </div>
                  <div class="file-title-row" dir="rtl">
                    <span v-if="item.field.formula"><a href="" @click="onFormulaClick(event, item.field.formula);">数式</a></span>
                    <i v-if="item.field.type == 'reference' && appData.recordData[item.field.name]" class='fas fa-external-link-alt' style="cursor: pointer;" 
                        @click="onRelationClick(event,appData.recordData[item.field.name])"></i>
                    <a href="" @click="onTypeClick(event,item)">{{item.field.type}}</a>
                  </div>
                </div>
                <div class="field-data">
                  <input v-if="item.field.type == 'boolean'" class="w3-check" type="checkbox" checked="checked" style="margin:4px"
                  v-model:value="appData.recordData[item.field.name]" 
                  v-on:change="onValueChange(event, item.field.name)"
                  :disabled="!item.field.updateable">
          
                  <input v-if="item.field.type != 'boolean'" class="w3-input w3-border w3-cell" type="text"
                    v-model:value="appData.recordData[item.field.name]" 
                    :disabled="!item.field.updateable"
                    v-on:change="onValueChange(event, item.field.name)">
                </div>
              </div>
            </div>
          </div>

          <div class="w3-col w3-left field-width">
            <div>Readonly項目</div>
            <div v-for="item in appData.selectReadOnlyItems" v-show="item.show" class="fieldDiv field-width" >
              <div class="field">
                <div class="field-def w3-display-container w3-blue" v-bind:class="{ notnull: !item.field.nillable }">
                  <div class="file-title-row">
                    {{item.field.label}}
                  </div>
                  <div class="file-title-row">
                    {{item.field.name}}
                  </div>
                  <div class="file-title-row" dir="rtl">
                    <span v-if="item.field.formula"><a href="" @click="onFormulaClick(event, item.field.formula);">数式</a></span>
                    <i v-if="item.field.type == 'reference' && appData.recordData[item.field.name]" class='fas fa-external-link-alt' style="cursor: pointer;" 
                        @click="onRelationClick(event,appData.recordData[item.field.name])"></i>
                    <a href="" @click="onTypeClick(event,item)">{{item.field.type}}</a>
                  </div>
                </div>
                <div class="field-data">
                  <input v-if="item.field.type == 'boolean'" class="w3-check" type="checkbox" checked="checked" style="margin:4px"
                  v-model:value="appData.recordData[item.field.name]" 
                  v-on:change="onValueChange(event, item.field.name)"
                  :disabled="!item.field.updateable">
          
                  <input v-if="item.field.type != 'boolean'" class="w3-input w3-border w3-cell" type="text"
                    v-model:value="appData.recordData[item.field.name]" 
                    :disabled="!item.field.updateable"
                    v-on:change="onValueChange(event, item.field.name)">
                </div>
              </div>
            </div>
          </div>

          <div class="w3-rest">
            <div>カスタム変更可項目</div>
            <div v-for="item in appData.selectItems" v-show="item.show" class="fieldDiv field-width" >
              <div class="field">
                <div class="field-def w3-display-container w3-blue" v-bind:class="{ notnull: !item.field.nillable }">
                  <div class="file-title-row">
                    {{item.field.label}}
                  </div>
                  <div class="file-title-row">
                    {{item.field.name}}
                  </div>
                  <div class="file-title-row" dir="rtl">
                    <span v-if="item.field.formula"><a href="" @click="onFormulaClick(event, item.field.formula);">数式</a></span>
                    <i v-if="item.field.type == 'reference' && appData.recordData[item.field.name]" class='fas fa-external-link-alt' style="cursor: pointer;" 
                        @click="onRelationClick(event,appData.recordData[item.field.name])"></i>
                    <a href="" @click="onTypeClick(event,item)">{{item.field.type}}</a>
                  </div>
                </div>
                <div class="field-data">
                  <input v-if="item.field.type == 'boolean'" class="w3-check" type="checkbox" checked="checked" style="margin:4px"
                  v-model:value="appData.recordData[item.field.name]" 
                  v-on:change="onValueChange(event, item.field.name)"
                  :disabled="!item.field.updateable">
          
                  <input v-if="item.field.type != 'boolean'" class="w3-input w3-border w3-cell" type="text"
                    v-model:value="appData.recordData[item.field.name]" 
                    :disabled="!item.field.updateable"
                    v-on:change="onValueChange(event, item.field.name)">
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>